body{
    font-family: 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS','sans-serif';
    text-align: center;
    background-image: linear-gradient(90deg, #33b7ce 50%, #3D6AEA 50%); 
}

hr{
    width: 500px;
}

.main{
    display: flex;
}

#gameBar{
    width: 50%;
    height: 100%;
}
#title{
    font-size: 36px;
    font-weight: 'bold';
    letter-spacing: 2px;
}

#board{
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tile{
    /*Box*/
    border: 2px solid rgb(19, 18, 18);
    width: 60px;
    height: 60px;
    margin: 2.5px;

    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct{
    background-color: #3fc031;
    color: white;
    border-color: white;
}

.present{
    background-color: #f5ce23;
    color: white;
    border-color: white;
}

.absent{
    background-color: #787c7e;
    color: white;
    border-color: 5;
}


.keyboard-row{

    padding-left:120px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile{
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid rgb(19, 18, 18);
    border-radius: 5px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile{
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid rgb(19, 18, 18);
    border-radius: 5px;

    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#statBar{
    display: block;
}

.controlButtons{
    margin: 0 50px;
    padding: 0 auto;
    display: flex;
    width: 180%;
    height: 20%;
    justify-content: center;
    align-items: center;
}


button{
    color: black;
    background-color: #f5ce23;
    height: 50%;
    width: 100%;
    margin: 25px;
    border: 1px solid black;
    border-radius: 40px;

    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


.timer{
    margin: 0 auto;
    padding: 10%;
    width: 200%;
    height: 20%;
    align-items: center;
    justify-content: center;

    font-size: 100px;
    color: maroon;
}

.score{
    margin: 0 auto;
    padding: 10%;
    width: 200%;
    height: 20%;
    align-items: center;
    justify-content: center;

    font-size: 100px;
    color: maroon;
}

